*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(180, 186, 192);
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
li{
    float: right;
    background-color: rgb(151, 153, 154);
    padding: 1.8rem;
    color: white;
    font-size: 1.1rem;
}
.content{
    background-color: rgb(221, 225, 229);
    padding: 4rem 7rem;
    margin: 1rem 0rem 4rem 0rem;
    font-size: 1.5rem;
    border: 0.1rem;
    border-color: red;
    border-style: solid solid none solid;
    border-radius: 1rem 1rem 0rem 0rem;
    box-sizing: border-box;
    
}
footer{
    background-color: rgb(180, 186, 192);
    /* display: flex; */
    padding: 2rem;
    /* justify-content: center; */
    margin: 3rem 0 0 0;
}
.f{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.f2{
    text-align: center;
}
.f2 img{
    height: 5rem;
    width: 5rem;
    background-color: blue;
}