*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.03rem;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    width:100%;
    display: inline-block;
    background-color: gray;
}
.navbar li{
    display: inline-block;
    margin: 0.7rem 1.5rem;
    padding: 1rem 1rem;
    position: relative;
    flex: 0 0 auto;
}
.list1{
    min-height: 200vh;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 0.9rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
    color:aliceblue;
    padding: 4rem;
}
.list1 li{
    list-style:square;
}
.box1{
    display: inline-block;
    min-height: 30vh;
    min-width: 20vh;
    background-color: rosybrown;
    position: relative;
    margin: 3rem;
    z-index: 2;         /*higher the z-index, higher the level of layer*/
}
.box2{
    display: inline-block;
    min-height: 30vh;
    min-width: 20vh;
    background-color: royalblue;
    position: relative;
    right: 8rem;
    top : 3rem;
    margin: 3rem;
    z-index: 1;         /*lower the z-index, lower the level of layer*/
}